/* General styling */

:root {
  --dark-coral: #E56B6F;
  --light-pink: #FFDEDC;
  --light-grey: #F9EAEA;
  --medium-light-grey: #D2CCCC;
  --medium-grey: #B0A9A9;
  --dark-grey: #6B6F76;
  --anthracite: #333333;
  --max-width: 1000px;
}

body {
  /* height: 100vh; */
  margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-pink);

  /* Basic typography */
  font-family: Inter, Helvetica, Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Noto Color Emoji, Segoe UI Symbol, Android Emoji, EmojiSymbols, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Noto Sans, sans-serif;
  overflow-wrap: break-word;
  text-align: left;
  text-rendering: optimizelegibility;
  font-size: 18px;
}

section {
  max-width: var(--max-width);
  width: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  /* Typography */
  font-weight: bold;
  color: var(--anthracite);
}

h1 {
  margin: 20px;
  margin-top: 40px;

  /* Typography */
  font-size: 1.8em;
  line-height: 1.4em;
  letter-spacing: -0.5px;
}

h2 {
  margin: 20px;
  margin-bottom: 10px;
  
  /* Typography */
  font-size: 1.2em;
  line-height: 0.8em;
}

p {
  margin-bottom: 10px;

  /* Typography */
  font-size: 1em;
  line-height: 1.2em;
}

a {
  text-decoration: none;
}

ul {
  margin-top: 0px;
}

a.button {
  text-decoration: none;
  color: white;
}

li {
  padding: 6px;
}

hr {
  border: 2px solid var(--dark-coral);
  width: calc(0.4 * var(--max-width));
}

.button {
  margin: 20px;
  padding: 12px 20px;

  display: flex;
  flex-direction: row;
  align-items: center;

  border: none;
  border-radius: 100px;
  background-color: var(--dark-coral);
  box-shadow: 0 10px 10px -10px var(--dark-coral);

  /* Typography */
  font-size: inherit;
  line-height: 1.12em;
  color: white;

  /* Transitions */
  transition: scale 250ms, box-shadow 300ms, background-color 1s;
}

.button p {
  margin: 0px 10px;
}

footer {
  margin: 20px;

  /* position: absolute; */
  bottom: 0px;

  /* Typography */
  font-size: 0.9em;
  color: var(--medium-grey);
}

footer a {
  border-bottom: 2px dotted var(--medium-grey);
  color: var(--medium-grey);
}

#cursor rect {
  fill: var(--anthracite);

  /* Animation */
  animation: blink 2s linear infinite running;
}

@keyframes blink {
  2% { opacity: 0; }
  48% { opacity: 0; }
  52% { opacity: 1; }
  98% { opacity: 1; }
}

.info-section {
  max-width: var(--max-width);
  width: 100%;
  margin: 5px 0px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  overflow: hidden;

  /* necessary for css transition */
  max-height: 500px;
  transition: max-height 0.5s ease-in-out, opacity 0.25s;
}

.hidden {
  max-height: 0px;
  opacity: 0;
  /* visibility: hidden;
  display: none; */
}

.bold {
  font-weight: bold;
}

.buttons {
  margin: 5px;
  display: flex;
  justify-content: center;
}

.box {
  max-width: calc(var(--max-width) - 180px);
  padding: 25px 40px;
  margin: 20px 20px;
  border-radius: 30px;
  background-color: var(--light-grey);
  box-shadow: 0 8px 10px -10px var(--anthracite);
  /* Typography */
  color: var(--dark-grey);
}


/* Mobile only */

#cursor {
  transform: translate(0, 5px);
}

#cursor,
#cursor rect {
  width: 4px;
  height: 34px;
}

#try-out {
  visibility: hidden;
  display: none;
}

#installation {
  flex-direction: column;
}

.icon {
  max-width: 28px;
  max-height: 28px;
}

.underline {
  border-bottom: 5px solid var(--dark-coral);
}

@media only screen and (min-width: 768px) {

  /* Desktop only */
  body {
    font-size: 25px;
  }

  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 1.6em;
  }

  .button img {
    transition: transform 1s;
  }

  .button:hover {
    cursor: pointer;
    scale: 1.05;
    box-shadow: 0 13px 11px -10px var(--dark-coral);
  }

  .button:focus {
    outline: none;
  }

  .button.go-back {
    background-color: var(--medium-grey);
    box-shadow: 0 10px 10px -10px var(--medium-grey);
  }

  .button.go-back img {
    transform: rotate(-180deg);
  }

  input.box {
    max-width: calc(var(--max-width) - 100px);
    width: 100%;
    margin: 20px;
    margin-bottom: 0px;
    border: none;

    /* Typography */
    text-align: center;
    font-size: 1em;
  }

  input.box:focus {
    outline: none;
  }

  #cursor {
    transform: translate(0, 8px);
  }

  #cursor,
  #cursor rect {
    width: 7px;
    height: 62px;
  }

  #keyboard-demo {
    max-width: calc(var(--max-width) - 100px);
    width: 100%;
  }

  #try-out {
    visibility: visible;
    display: flex;
  }

  #installation {
    flex-direction: row;
  }

  .buttons {
    margin: 25px;
  }

  .icon {
    max-width: 34px;
    max-height: 34px;
  }

  .underline {
    border-bottom: 10px solid var(--dark-coral);
  }
}